.cell {
  flex: 1;
  aspect-ratio: 1/1;
  position: relative;
  cursor: pointer;

  .flagAnimation {
    width: 0%;
    overflow: hidden;
    transition: 0.1s width;

    &.start {
      width: 100%;
    }

    .flag {
      display: block;
    }
  }
}

@mixin hidden_maker($color) {
  background-color: $color;

  &:hover {
    background-color: rgb(185, 221, 119);
  }
}

.hidden-0 {
  @include hidden_maker(rgb(170, 215, 81));
}

.hidden-1 {
  @include hidden_maker(rgb(162, 209, 73));
}

.flipped-0 {
  background-color: rgb(229, 194, 159);
}

.flipped-1 {
  background-color: rgb(215, 184, 153);
}

.border-bottomLeft {
  background-color: rgb(135, 175, 58);
  position: absolute;
  right: calc(100% - 4px);
  top: calc(100% - 4px);
  height: 4px;
  width: 4px;
}

.border-topLeft {
  background-color: rgb(135, 175, 58);
  position: absolute;
  right: calc(100% - 4px);
  bottom: calc(100% - 4px);
  height: 4px;
  width: 4px;
}

.border-bottomRight {
  background-color: rgb(135, 175, 58);
  position: absolute;
  left: calc(100% - 4px);
  top: calc(100% - 4px);
  height: 4px;
  width: 4px;
}

.border-topRight {
  background-color: rgb(135, 175, 58);
  position: absolute;
  left: calc(100% - 4px);
  bottom: calc(100% - 4px);
  height: 4px;
  width: 4px;
}

.border-left {
  background-color: rgb(135, 175, 58);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 4px;
}

.border-right {
  background-color: rgb(135, 175, 58);
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 4px;
}

.border-top {
  background-color: rgb(135, 175, 58);
  position: absolute;
  left: 0;
  top: 0;
  height: 4px;
  width: 100%;
}

.border-bottom {
  background-color: rgb(135, 175, 58);
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
}

@mixin flipped_maker($color) {
  color: $color;
  font-family: "Roboto";
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: rgb(236, 209, 183);
  }
}

.near-1 {
  @include flipped_maker(rgb(32, 120, 208));
}

.near-2 {
  @include flipped_maker(rgb(69, 146, 67));
}

.near-3 {
  @include flipped_maker(rgb(211, 48, 48));
}

.near-4 {
  @include flipped_maker(rgb(131, 44, 161));
}

.near-5 {
  @include flipped_maker(rgb(255, 143, 0));
}

.near-6 {
  @include flipped_maker(rgb(0, 151, 167));
}

.near-7 {
  @include flipped_maker(rgb(66, 66, 66));
}

.near-8 {
  @include flipped_maker(rgb(158, 158, 158));
}

.mine_circle {
  visibility: hidden;
}

@mixin mine_maker($color, $dark_color) {
  background-color: $color;

  .mine_circle {
    visibility: visible;
    background-color: $dark_color;
  }
}

.mine-0 {
  @include mine_maker(rgb(219, 50, 54), rgb(154, 33, 35));
}

.mine-1 {
  @include mine_maker(rgb(237, 68, 181), rgb(154, 44, 118));
}

.mine-2 {
  @include mine_maker(rgb(72, 133, 237), rgb(47, 86, 154));
}

.mine-3 {
  @include mine_maker(rgb(0, 135, 68), rgb(0, 88, 44));
}

.mine-4 {
  @include mine_maker(rgb(72, 230, 241), rgb(47, 150, 157));
}

.mine-5 {
  @include mine_maker(rgb(182, 72, 242), rgb(118, 47, 157));
}

.mine-6 {
  @include mine_maker(rgb(244, 194, 13), rgb(159, 126, 8));
}

.mine-7 {
  @include mine_maker(rgb(244, 132, 13), rgb(158, 86, 8));
}
