@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.gameHolder {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .game {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 60%;
  }
}
